<a href="https://colab.research.google.com/github/mohamedhaja007/pythonCode/blob/main/python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#boolean expression
a=True
b=False
print('a= ',a,'b= ',b)
a=False;
print('a= ',a,'b= ',b)

a=  True b=  False
a=  False b=  False

In [ ]:
# Get two integers from the user
dividend, divisor = eval(input('Please enter two to divide: '))
# If possible, divide them and print the result
if divisor != 0:
  print(dividend,'/',divisor,' = ', dividend/divisor)
else:
  print('Divsion by is not allowed.')

Please enter two to divide: 22,2
22 / 2  =  11.0

In [ ]:
#nested loop
print("     1  2  3  4  5  6  7  8  9  10")
print("    <---------------------------->")
for row in range(1,11):
  if row<10:
    print(" ",end=" ")
    for column in range(1,11):
      product=row*column;
      if product<100:
        print(end=" ")
      if product<10:
        print(end=" ")
      print(product,end=" ")
    print()

     1  2  3  4  5  6  7  8  9  10
    <---------------------------->
    1   2   3   4   5   6   7   8   9  10
    2   4   6   8  10  12  14  16  18  20
    3   6   9  12  15  18  21  24  27  30
    4   8  12  16  20  24  28  32  36  40
    5  10  15  20  25  30  35  40  45  50
    6  12  18  24  30  36  42  48  54  60
    7  14  21  28  35  42  49  56  63  70
    8  16  24  32  40  48  56  64  72  80
    9  18  27  36  45  54  63  72  81  90

In [ ]:
#while 
entry=0
sum=0
print("Enter numbers to sum, negative number ends list: ")
while entry >=0:
  entry =eval(input())
  if entry >=0:
    sum+=entry
print("sum=",sum)

Enter numbers to sum, negative number ends list:
6
7
5
-2
sum= 18

In [ ]:
#elif statement
value=eval(input("Please enter an integer in the range 0....5: "))
if value<0:
  print("To0o small")
else:
  if value ==0:
    print("zero")
  else:
    if value==1:
      print("one")
    else:
      if value ==2:
        print("two")
      else:
        if value==3:
          print("three")
        else:
          if value==4:
            print("four")
          else:
            if value==5:
              print("five")
            else:
              print("too large")
  print("done")

Please enter an integer in the range 0....5: 4
four
done

In [ ]:
#Declare a variable
Number=25
Name="sam"
B=3.5
print(Number)
print(Name)
print(B)

25
sam
3.5

In [ ]:
#Redeclare a variable
Name="Python"
print(Name)

Python

In [ ]:
#Multiple assignment
x=y=z="SoftwareTestingHelp"
print(x)
print(y)
print(z)
a,b,c=5,3.2,"Hello"
print(a)
print(b)
print(c)

SoftwareTestingHelp
SoftwareTestingHelp
SoftwareTestingHelp
5
3.2
Hello

In [ ]:
#Numbers
a=5
print(a,"is of type",type(a))

5 is of type <class 'int'>

In [ ]:
#String
String1="Welcome"
String2="To python"
print(String1+String2)
#slicing
print(String1[2:5])

WelcomeTo python
lco

In [ ]:
#List
List=[2,4,5,5,"Hi"]
print("List[2]",List[2])

List[2] 5

In [ ]:
#Tuple
Tuple=(50,15,25.6,"Python")
print("Tuple[1]=",Tuple[1])

Tuple[1]= 15

In [ ]:
#Set
Set={5,1,2.6,"python"}
print(Set)

{1, 2.6, 5, 'python'}

In [ ]:
#Dictionary
Dict={1:'Hi',2:7.5,3:'Class'}
print(Dict)

{1: 'Hi', 2: 7.5, 3: 'Class'}

In [ ]:
#Arithmetic operators
x=15
y=10
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)

x+y= 25
x-y= 5
x*y= 150
x/y= 1.5
x//y= 1

In [ ]:
#comparison Operators
x=8
y=15
print('x>y is',x>y)
print('x<y is',x<y)
print('x==y is',x==y)
print('x!=y is',x!=y)
print('x>=y is',x>=y)
print('x<=y is',x<=y)

x>y is False
x<y is True
x==y is False
x!=y is True
x>=y is False
x<=y is True

In [ ]:
#logical operators
a=True
b=False
print('a and b is',a and b)
print('a or b is',a and b)
print('a not b is',a and b)

a and b is False
a or b is False
a not b is False

In [ ]:
#identity operator
a1=3
b1=3
a2="Python"
b2="Python"
a3=[4,5,6]
b3=[4,5,6]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

In [ ]:
#Membership operator
a="Python operators"
b={1:'x',2:'y'}
print("P" in a)
print(1 in b)
print('y' in b)

True
True
False

In [ ]:
#if statement
num=5
if( num<10):
  print("Num is smaller than 10")

Num is smaller than 10

In [ ]:
#if-else statement
num=5
if(num>10):
  print("number is greater than 10")
else:
  print("number is less than 10")

number is less than 10

In [ ]:
#elif statements
num=10
if(num==0):
  print("Number is Zero")
elif(num>5):
  print("Number is greater than 5")
else:
  print("Number is smaller than 5")

Number is greater than 5

In [ ]:
#nested if-else statements
num=5
if(num>0):
  print("number is positive")
if(num<10):
  print("number is less than 10")

number is positive
number is less than 10

In [ ]:
#elif ladder
my_marks=90
if(my_marks<35):
  print("Sorry!,You failed the exam")
elif(my_marks>60 and my_marks>100):
  print("Passed in First class")
else:
  print("Passed in First class")

Passed in First class

In [ ]:
#factorial
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num+1):
  fact=fact*i
print(fact)

Enter a number: 5
120

In [ ]:
#Fibonacci series
num  = int(input("Enter a number : "))
n1, n2 = 0, 1
sum = 0
if (num<=0):
  print("Please enter a number greater than zero")
else:
  for i in range(0, num):
    n1 = n2
    n2 = sum
    sum = n1 + n2
    print(sum, end = " ")

Enter a number : 5
1 1 2 3 5

In [ ]:
#Reversing string
string = input("Enter a string : ")
string2 = ''
i = len(string)-1
while(i>=0):
  string2 = string2 + string[i]
  i-=1
print("The reversed string is",string2)

Enter a string : 5
The reversed string is 5

In [ ]:
#passed by value
#function definition is here
def changeme(mylist):
  "This changes a passed list into this fucntion"
  mylist.append([1,2,3,4]);
  print("Values inside the function: ",mylist)
  return
#now you can call changeme function
mylist=[10,20,30];
changeme(mylist);
print("values outside the function: ",mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [ ]:
#passed by reference
#function definition is here
def changeme(mylist):
  "This changes a passed list into this function"
  mylist=[1,2,3,4]; #This would assign new reference in mylist
  print("Values inside the function: ",mylist)
  return
#now you can call changeme function
mylist=[10,20,30];
changeme(mylist);
print("Values outside the function: ",mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [ ]:
#keyword arguments
#function definition is here
def printme(str):
  "This prints a passed string into this function"
  print(str)
  return;
#Now you can call printme function
printme(str="My string")

My string

In [ ]:
def printinfo(name,age):
  "This prints a passed info into this function"
  print("Name: ",name)
  print("Age: ",age)
  return;
printinfo(age=25,name="sam")

Name:  sam
Age:  25

In [ ]:
#default arguments
def printinfo(name, age=35):
  "This prints a passed info into this function"
  print("Name: ",name)
  print("Age",age)
  return;
printinfo(age=25,name="sam")
printinfo(name="sam")

Name:  sam
Age 25
Name:  sam
Age 35

In [ ]:
def printinfo(arg1, *vartuple ):
  "This prints a variable passed arguments"
  print("Output is: ")
  print(arg1)
  for var in vartuple:
    print(var)
  return;
printinfo(10)
printinfo(70,60,50)

Output is:
10
Output is:
70
60
50

In [ ]:
#scope of variables
total=0;#The global variable
def sum(arg1,arg2):
  total=arg1+arg2;
  print("Inside the function local total: ",total)
  return total;
sum(10,20);
print("Outside the function global total: ",total)

Inside the function local total:  30
Outside the function global total:  0

In [ ]:
#prime number program using math functions
from math import sqrt
max_value=eval(input("Display primes up to what value?"))
value=2 #smallest prime number
while value<=max_value:
  is_prime=True
  trial_factor=2
  root=sqrt(value)
  while trial_factor<=root:
    if value%trial_factor==0:
      is_prime=False;
      break
    trial_factor+=1
  if is_prime:
    print(value, end=' ')
  value+=1
print()

Display primes up to what value?13
2 3 5 7 11 13

In [ ]:
#clock example 1
from time import clock
print("Enter your name: ",end="")
start_time=clock()
name=input()
elapsed=clock()-start_time
print(name, "it took you",elapsed,"seconds to respond")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

Enter your name: sam
sam it took you 0.03770499999999988 seconds to respond

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [ ]:
#clock example 2
from time import clock
max_value=10000
count=0
start_time=clock()
for value in range(2,max_value+1):
  is_prime=True
  for trial_factor in range(2,value):
    if value%trial_factor==0:
      is_prime=False
      break
  if is_prime:
    count+=1
print()
elapsed=clock()-start_time
print("Count:",count, "Elapsed time:",elapsed, "sec")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """

Count: 1229 Elapsed time: 0.7042699999999997 sec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  from ipykernel import kernelapp as app

In [ ]:
#simplerandom
from random import randrange, seed
seed(23)
for i in range(0,100):
  print(randrange(1,1000),end=' ')
print()

948 799 972 297 914 850 86 18 607 315 434 389 543 367 134 744 197 274 456 15 227 636 466 924 26 109 88 728 511 432 21 525 643 752 442 368 790 59 211 802 37 604 378 674 177 636 222 995 753 372 580 779 881 378 992 586 289 677 999 322 587 88 834 486 182 736 495 605 811 459 692 658 168 187 819 183 547 332 690 836 533 201 597 118 85 101 437 40 582 283 963 587 288 841 605 339 112 379 922 296

In [ ]:
#rolling of a die program using random module functions
from random import randrange
for i in range(0,5):
  value=randrange(1,6)
  print("+----------+")
  if value==1:
    print("|         |")
    print("|    *    |")
    print("|         |")
    print("+----------+")
  elif value==2:
    print("| *       |")
    print("|         |")
    print("|       * |")
    print("+----------+")
  elif value==3:
    print("|       * |")
    print("|    *    |")
    print("| *       |")
    print("+----------+")
  elif value==4:
    print("| *     * |")
    print("|         |")
    print("| *     * |")
    print("+----------+")
  elif value==5:
    print("| *     * |")
    print("|    *    |")
    print("| *     * |")
    print("+----------+")

+----------+
| *     * |
|    *    |
| *     * |
+----------+
+----------+
|       * |
|    *    |
| *       |
+----------+
+----------+
| *     * |
|         |
| *     * |
+----------+
+----------+
| *     * |
|    *    |
| *     * |
+----------+
+----------+
| *       |
|         |
|       * |
+----------+

In [ ]:
#gcdwithmain
def gcd(m,n):
  min=m if m<n else n
  largestFactor=1
  for i in range(1,min+1):
    if m%i==0 and n%i==0:
      largestFactor=i
  return largestFactor
def get_int():
  return int(input("Please enter an integer: "))
def main():
  n1=get_int()
  n2=get_int()
  print("gcd(",n1,",", n2,")=",gcd(n1,n2),sep=" ")
main()

Please enter an integer: 30
Please enter an integer: 30
gcd( 30 , 30 )= 30

In [ ]:
#parameter passing example
def increment(x):
  print("Beginning execution of increment, x= ",x)
  x+=1
  print("Ending execition of increment, x= ",x)
def main():
  x=5
  print("Before increment, x=",x)
  increment(x)
  print("After increment, x=",x)
main()

Before increment, x= 5
Beginning execution of increment, x=  5
Ending execition of increment, x=  6
After increment, x= 5

In [ ]:
#recursion
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
def main():
  print("0!= ", factorial(0))
  print("1!= ", factorial(1))
  print("6!= ", factorial(6))
  print("10!= ", factorial(10))
main()

0!=  1
1!=  1
6!=  720
10!=  3628800

In [ ]:
#arithmeticeval
def add(x,y):
  return x+y
def multiply(x,y):
  return x*y
def evaluate(f,x,y):
  return f(x,y)
def main():
  print(add(2,3))
  print(multiply(2,3))
  print(evaluate(add,2,3))
  print(evaluate(multiply,2,3))
main()

5
6
5
6